*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: auto;
}
body{
    background-color: #fff;
}

/* punto de quiebre ara pantallas xxL*/
@media screen and (min-width: 1400px){
    .xxl-1{
        width: 8.333%;
    }
    .xxl-2{
        width: 16.66%;
    }
    .xxl-3{
        width:25% ;
    }
    .xxl-4{
        width: 33.33%;

    }
    .xxl-5{
        width: 43.666%;
    }
    .xxl-6{
        width: 50%;

    }
    .xxxl-7{
        width: 58.33%;

    }
    .xxl-8{
        width: 66.66%;

    }
    .xxl-9{
        width: 75%;

    }
    .xxl-10{
        width: 83.33%;

    }
    .xxl-11{
        width: 91.66.33%;

    }
    .xxl-12{
        width: 100%;

    }





    .nav-body{
        border: 1px solid black;
        display: flex;
        height: 10vh;
        color: #00CCFF;
    }
    .nav-body-section{
        display: flex;
        align-items: center;
        margin-left: 5%;
        
    }
    .nav-body-section-article1{
        margin-right: 1vw;
        width: 6%;
        height: 6vh;
    }
    .nav-body-section-article1-img{
        width: 100%;
        height: 6vh;
    }
    .nav-body-section-article2 {
        width: 94%;
    }
    .nav-body-section-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3%;
    }
    .nav-body-section-button-iniciar-sesion{
        margin-right: 8%;
        font-size: 1.2rem;
        text-decoration: none;
        color: #099DCB;
        
        
        
    }
    .nav-body-section-button-iniciar-sesion:hover{
        color: #00CCFF;
        
    }

    .nav-body-section-button-comienza-button{
        width: 70%;
        height: 6vh;
        font-size: 1.2rem;
        border-radius: 1em;
        color: #fff;
        background-color: #099DCB;

        border: none;





    }
    .nav-body-section-button-comienza-button:hover{
        transform: scale(1.1);
        
    }
    .nav-body-section-button-comienza{
        width: 70%;
        height: 6vh;
        border-radius: 1em;

    }
    .section-body{
        display: flex;
    }
    .section-body-aricle-p{
        font-size: 2em;
    }
    .section-body-article{
        margin-top: 2%;
        margin-left: 5%;

    }
    .section-body-aricle-h1-span{
        color: #099DCB;
        
    }


    .section-body-article2{
        margin-top: 5%;

    }

    .section-body-article2-img{
        width: 70%;
        height: 50vh;
        margin-left: 16%;
        border-radius: 3em;
        margin-top: 7%;
    }
    .section-body-aricle-h1{
        font-size: 5em;
        color: #00CCFF;
    }
    .section-body-article-article{
        margin-top: 5%;
    }
    .section-body-article-article-button{
        font-size: 1.2rem;
        border-radius: 1em;
        color: #fff;
        height: 8vh;
        width: 60%;
        background-color: #099DCB;
        border: none;   
    }
    .section-body-article-article-button:hover{
        transform: scale(1.1 );
    }
    .hr{
        margin-right: 60%;    
        margin-top: 1%;
    }
    .section-body-promedios{
        display: flex;
        justify-content: space-evenly;
    }
    .section-body-promedios-h2{
        color: #00CCFF;
        display: flex;
        flex-direction: column;
        font-size: 3em;
    }
    .section-body-promedios-h2-span{
        color: black;
        font-size: 1rem;
    }
    .section2-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        font-size: 1.7rem;
        color: #00CCFF;
    }
    .sect-2{
        color: #000; 
        margin-bottom: 0px;
        padding: 0%;
    }
    .section3-body-article{
            display: flex;
            height: 45vh;
    }
    .section3-body-article-a{
        margin: 1%;
        width: 30%;
        height: 35vh;
        
    }
    .section3-body-article-button{
        width: 100%;
        height: 100%;
        border: 2px solid #00CCFF;
        border: none;
        border-radius: 2vw;
        text-align: start;
    }
    .section4-body{
        background-color: #099DCB;
        
    }
    .section4-body-article{
        text-align: center;
        padding: 5vh;
        font-size: 1.7rem;
        color: #fff;

    }
    .menu-body{
        display: flex;
        justify-content: space-evenly;
        color: #fff;

    }
    .section4-body-article2{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .section4-body-article2-h2{
        width: 25%;
        height: 8vh;
        border-radius: 60%;
        margin-left: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00CCFF;
    

        



    }
}
